<div class="container">
    <h3 style="color: black; text-align: center; background: cornflowerblue;">User Work </h3>
    <div class="content-center">
        <div class="row">
            <div class="col-sm-6" style="text-align: left">
                
                <button type = "button" class = "btn btn-light" (click)="searchFlight()">Search Flight</button><br><br>
                <button type = "button" class = "btn btn-light" (click)="bookFlight()">Book Flight</button><br><br>
                <button type = "button" class = "btn btn-light" (click)="getFlightDetail()">Get Booking Detsils </button><br><br>
                <button type = "button" class = "btn btn-light" (click)="getFlightHistory()">Booking History</button><br><br>
                <button type = "button" class = "btn btn-light" (click)="deleteFlightDetail()">Cancel Booking</button>
            </div>
        </div>
    </div>
</div>