
<div class="container">
    <h3 style="color: black; text-align: center; background: cornflowerblue;">Admin Work </h3>
    <div class="content-center">
        <div class="row">
            <div class="col-sm-6" style="text-align: left">
                
                <button type = "button" class = "btn btn-light" (click)="addFlight()">Add Flight</button><br><br>
                <button type = "button" class = "btn btn-light" (click)="viewFlight()">View Flights Available</button><br><br>
                <button type = "button" class = "btn btn-light" (click)="blockFlight()">Block Flights</button>
            </div>
        </div>
    </div>
</div>